app = 'hack-nation-api'
primary_region = 'fra'

[build]

[env]
  NODE_ENV = 'production'
  UPLOADS_DIR = '/data/uploads'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = 'hack_nation_data'
  destination = '/data'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
